# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
launchSettings.json

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.pkgproj

# Build logs
*.log
*.tmp

# User-specific files
*.rsuser
*.DotSettings.user

# Publish output
publish/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# OS files
.DS_Store
Thumbs.db

# Environment secrets
.env
